#contact-us {
  display: none;
  width: 100vw;
  height: 100%;
  position: relative;
  background-color: #fff;
  padding-bottom: 150px;
  @media screen and (max-width: 500px) {
    padding-top: 0px;
  }
  .dot-white {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: transparent url(/assets/dot-pattern-notsowhite.svg) no-repeat;
    background-size: cover;
    background-position-y: -50%;
    opacity: 0.5;
    z-index: 0;
    @media screen and (max-width: 1050px) {
      background-position-x: center;
      opacity: 0.4;
    }
  }
  .treeline-green {
    width: 100%;
    overflow: hidden;
    height: 100px;
    background: transparent url(/assets/treeline-green.svg) no-repeat;
    background-position: left -4px bottom 0px;
    background-size: cover;
    position: absolute;
    bottom: -3px;
    z-index: 1;
  }
  .contact-us-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 80px;
    @media screen and (max-width: 1050px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    .contact-left {
      width: 50%;
      height: auto;
      padding-right: 20px;
      position: relative;
      @media screen and (max-width: 1050px) {
        padding-right: 0px;
        width: 80%;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
      }
      .info-wrapper {
        background-color: $mainBgColor;
        width: 100%;
        height: auto;
        border-radius: 15px;
        position: sticky;
        top: 120px;
        .hero-background-image {
          position: absolute;
          width: 100%;
          height: 100%;
          background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
          overflow: hidden;
          z-index: 0;
          pointer-events: none;
        }
        .info-container {
          padding: 40px;
          z-index: 1;
          @media screen and (max-width: 1050px) {
            width: 100%;
            text-align: center;
          }
          h2 {
            margin-bottom: 40px;
            margin-top: 40px;
          }
          .p-white {
            margin-bottom: 25px;
          }
          .p-white a {
            text-decoration: none;
            color: $mainWhiteColor;
            cursor: pointer;
          }
        }
      }
    }
    .contact-right {
      width: 100%;
      padding-left: 20px;
      width: 50%;
      @media screen and (max-width: 1050px) {
        padding-left: 0px;
        width: 80%;
        margin-bottom: 150px;
      }
      @media screen and (max-width: 850px) {
        width: 100%;
      }
      .contact-wrapper {
        width: 100%;
        padding-top: 40px;
        h2 {
          margin-bottom: 40px;
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          label {
            width: 100%;
            text-align: left;
            color: $mainBgColor;
            font-size: 1rem;
            margin: 20px 0px;
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0.6;
          }
          input {
            width: 100%;
            height: 50px;
            outline: none;
            border-top: none;
            border-right: none;
            border-left: none;
            background-color: $mainWhiteColor;
            border-radius: 15px;
          }
          input[type="text"],
          input[type="email"],
          input[type="tel"] {
            padding-left: 20px;
            font-size: 1.3rem;
            font-family: $mainFont;
            opacity: 0.8;
            color: $mainBgColor;
          }
          textarea {
            outline: none;
            background-color: $mainWhiteColor;
            border-radius: 15px;
            border: none;
            padding: 20px;
            font-size: 1.3rem;
            font-family: $mainFont;
            opacity: 0.8;
            color: $mainBgColor;
          }
          button {
            width: 50%;
            background-color: $mainBgColor;
            z-index: 1;
            border-radius: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $mainWhiteColor;
            text-transform: uppercase;
            font-size: 1.3rem;
            margin-top: 40px;
            font-weight: 800;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
  }
}
