#features {
  width: 100vw;
  height: 100%;
  background-color: $mainWhiteColor;
  .features-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .features-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: transparent url(/assets/features-image.svg) no-repeat;
      background-position: right 0px top 0px;
      background-size: contain;
      @media screen and (max-width: 700px) {
        opacity: 0.1;
        background-position: center;
      }
    }
    .features-content {
      width: 40%;
      margin-top: 130px;
      margin-bottom: 100px;
      padding: 40px 0;
      @media screen and (max-width: 1050px) {
        width: 50%;
      }
      @media screen and (max-width: 850px) {
        width: 60%;
        margin-top: 100px;
      }
      @media screen and (max-width: 680px) {
        width: 100%;
      }
      .features-card {
        &:nth-child(2) {
          margin: 40px 0px;
        }
        p {
          @media screen and (max-width: 680px) {
            text-align: center;
          }
        }
      }
    }
  }
}
