@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
  body {
    nav {
      padding-top: 2rem;
    }
    header {
      .down-indicator {
        padding-bottom: 4rem;
      }
    }
  }
}

@media screen and (max-width: 605px) {
  html {
    font-size: 50%;
  }
}
