#review {
  width: 100%;
  height: 100%;
  background-color: $mainBgColor;
  position: relative;
  .review-bg {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    background: transparent url(/assets/tagasiside-bg.svg) no-repeat;
    position: absolute;
    background-position: right 0px bottom 0px;
    z-index: 1;
    @media screen and (max-width: 1050px) {
      opacity: 0.25;
      background-position-x: center;
    }
  }
  .treeline-white-reversed {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: transparent url(/assets/treeline-png-white-reversed.svg)
      no-repeat;
    background-position: left -4px top 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
  }
  .treeline {
    width: 100%;
    overflow: hidden;
    height: 80px;
    background: transparent url(/assets/treeline-svg.svg) no-repeat;
    background-position: left -4px bottom 0px;
    position: absolute;
    bottom: -3px;
    z-index: 1;
  }
  .hero-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
    overflow: hidden;
    z-index: 0;
  }
  .portfolio-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 2;
    .portfolio-content {
      width: 60%;
      height: 100%;
      @media screen and (max-width: 1050px) {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: auto;
      }
      .review1 {
        margin-bottom: 60px;
        p {
          margin-top: 50px;
          margin-bottom: 30px;
        }
        .review-name {
          width: 100%;
          text-align: right;
          h3 {
            margin-bottom: 10px;
          }
        }
      }
      .review2 {
        p {
          margin-top: 50px;
          margin-bottom: 30px;
        }
        .review-name {
          width: 100%;
          text-align: right;
          h3 {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
