//Universal styles

html {
  font-family: $mainFont;
  font-size: 100%;
}

h1 {
  color: $mainWhiteColor;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 200%;
  font-weight: bold;
  letter-spacing: 0.175rem;
  @media screen and (max-width: 890px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.1rem;
  }
}

body {
  background-color: $mainWhiteColor;
}

h2 {
  color: $mainTextColor;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.h2-white {
  color: $mainWhiteColor;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 150%;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: $mainWhiteColor;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

h4 {
  color: $mainWhiteColor;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.08rem;
}

p {
  color: $mainTextColor;
  font-size: 1.56rem;
  line-height: 190%;
  font-weight: regular;
  letter-spacing: 0.1rem;
  @media screen and (max-width: 550px) {
    font-size: 1.2rem;
    line-height: 160%;
    letter-spacing: 0.08rem;
  }
}

.p-white {
  color: $mainWhiteColor;
  font-size: 1.56rem;
  line-height: 190%;
  font-weight: regular;
  letter-spacing: 0.1rem;
  @media screen and (max-width: 550px) {
    font-size: 1.2rem;
    line-height: 160%;
    letter-spacing: 0.08rem;
  }
}

.container {
  height: 100%;
  width: 1280px;
  margin: auto;
  @media screen and (max-width: 1380px) {
    max-width: 90%;
  }
}
