* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 100%;
}

h1 {
  color: #ebeff0;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 200%;
  font-weight: bold;
  letter-spacing: 0.175rem;
}

@media screen and (max-width: 890px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.1rem;
  }
}

body {
  background-color: #ebeff0;
}

h2 {
  color: #2c5364;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.h2-white {
  color: #ebeff0;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 150%;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: #ebeff0;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

h4 {
  color: #ebeff0;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.08rem;
}

p {
  color: #2c5364;
  font-size: 1.56rem;
  line-height: 190%;
  font-weight: regular;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 550px) {
  p {
    font-size: 1.2rem;
    line-height: 160%;
    letter-spacing: 0.08rem;
  }
}

.p-white {
  color: #ebeff0;
  font-size: 1.56rem;
  line-height: 190%;
  font-weight: regular;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 550px) {
  .p-white {
    font-size: 1.2rem;
    line-height: 160%;
    letter-spacing: 0.08rem;
  }
}

.container {
  height: 100%;
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

.nav-section {
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 10;
}

.nav-section .nav-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-section .nav-wrapper .logo img {
  width: 200px;
}

@media screen and (max-width: 500px) {
  .nav-section .nav-wrapper .logo img {
    width: 150px;
  }
}

.hero-section {
  width: 100vw;
  height: 100vh;
  background-color: #2c5364;
  position: relative;
  overflow: hidden;
}

.hero-section .hero-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
  overflow: hidden;
  z-index: 0;
}

.hero-section .treeline {
  width: 100vw;
  overflow: hidden;
  height: 80px;
  background: transparent url(/assets/treeline-svg.svg) no-repeat;
  background-position: left -4px bottom 0px;
  background-size: cover;
  position: absolute;
  bottom: -3px;
  z-index: 1;
}

.hero-section .down-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.hero-section .hero-wrapper-bg {
  position: absolute;
  bottom: 0px;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  opacity: 0.7;
}

.hero-section .hero-wrapper {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-section .hero-wrapper .hero-heading {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .hero-section .hero-wrapper .hero-heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-section .hero-wrapper .hero-heading .hero-h1 {
  width: 60%;
  margin-bottom: 50px;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .hero-section .hero-wrapper .hero-heading .hero-h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1040px) {
  .hero-section .hero-wrapper .hero-heading .hero-h1 {
    width: 80%;
  }
}

@media screen and (max-width: 890px) {
  .hero-section .hero-wrapper .hero-heading .hero-h1 {
    width: 100%;
  }
}

.hero-section .hero-wrapper .hero-heading .hero-btn {
  width: 20%;
  min-width: 200px;
  text-align: center;
  padding: 15px 0px;
  background-color: #ebeff0;
  z-index: 1;
}

@media screen and (max-width: 890px) {
  .hero-section .hero-wrapper .hero-heading .hero-btn {
    padding: 15px 30px;
    white-space: nowrap;
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .hero-section .hero-wrapper .hero-heading .hero-btn {
    padding: 15px 15px;
    white-space: nowrap;
    width: 70%;
  }
}

.hero-section .hero-wrapper .hero-heading .hero-btn a {
  text-decoration: none;
  color: #2c5364;
  text-transform: uppercase;
  font-weight: 700;
}

#features {
  width: 100vw;
  height: 100%;
  background-color: #ebeff0;
  position: relative;
  padding-bottom: 130px;
}

#features .treeline-white {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-png-white.svg) no-repeat;
  background-position: left -4px bottom 0px;
  background-size: cover;
  position: absolute;
  bottom: -2px;
  z-index: 1;
}

#features .features-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#features .features-wrapper .features-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent url(/assets/features-image.svg) no-repeat;
  background-position: right 0px top 0px;
  background-size: contain;
}

@media screen and (max-width: 700px) {
  #features .features-wrapper .features-image {
    opacity: 0.1;
    background-position: center;
  }
}

#features .features-wrapper .features-content {
  width: 40%;
  margin-top: 130px;
  margin-bottom: 100px;
  padding: 40px 0;
}

@media screen and (max-width: 1050px) {
  #features .features-wrapper .features-content {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  #features .features-wrapper .features-content {
    width: 60%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 700px) {
  #features .features-wrapper .features-content {
    width: 100%;
  }
}

#features .features-wrapper .features-content .features-card:nth-child(2) {
  margin: 40px 0px;
}

@media screen and (max-width: 700px) {
  #features .features-wrapper .features-content .features-card p {
    text-align: center;
  }
}

#about-us {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  padding-bottom: 130px;
}

@media screen and (max-width: 550px) {
  #about-us {
    padding-bottom: 80px;
  }
}

#about-us .aboutus-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  margin-bottom: 50px;
  position: relative;
}

@media screen and (max-width: 550px) {
  #about-us .aboutus-wrapper {
    padding-top: 60px;
  }
}

#about-us .aboutus-wrapper .aboutus-content {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  #about-us .aboutus-wrapper .aboutus-content {
    width: 100%;
  }
}

#about-us .aboutus-wrapper .aboutus-content .star-rating {
  width: 100%;
  height: 30px;
  background: transparent url(/assets/starRating.svg) no-repeat;
  background-size: contain;
  background-position: center center;
}

@media screen and (max-width: 550px) {
  #about-us .aboutus-wrapper .aboutus-content .star-rating {
    width: 80%;
    margin: auto;
  }
}

#about-us .aboutus-wrapper .aboutus-content h2 {
  margin-bottom: 40px;
}

#about-us .aboutus-wrapper .aboutus-content p {
  margin-bottom: 40px;
}

#meistrid {
  width: 100vw;
  height: 100%;
  background-color: #2c5364;
  position: relative;
  padding-bottom: 150px;
}

#meistrid .meister-bg {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background: transparent url(/assets/meistrid-bg.svg) no-repeat;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: right 0px bottom 0px;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  #meistrid .meister-bg {
    opacity: 0.25;
    background-position-x: right;
  }
}

#meistrid .hero-background-image {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
  overflow: hidden;
  z-index: 0;
}

#meistrid .treeline-white-reversed {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-png-white-reversed.svg) no-repeat;
  background-position: left -4px top 0px;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: 1;
}

#meistrid .treeline-white {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-png-white.svg) no-repeat;
  background-position: left -4px bottom 0px;
  background-size: cover;
  position: absolute;
  bottom: -2px;
  z-index: 1;
}

#meistrid .meistrid-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 150px;
  z-index: 2;
}

#meistrid .meistrid-wrapper .meistrid-content {
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  #meistrid .meistrid-wrapper .meistrid-content {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  #meistrid .meistrid-wrapper .meistrid-content {
    width: 100%;
  }
}

#meistrid .meistrid-wrapper .meistrid-content .meister1 {
  margin-bottom: 60px;
}

#meistrid .meistrid-wrapper .meistrid-content .meister1 p {
  margin-top: 50px;
  margin-bottom: 30px;
}

#meistrid .meistrid-wrapper .meistrid-content .meister1 .meister-name {
  width: 100%;
  text-align: right;
}

#meistrid .meistrid-wrapper .meistrid-content .meister1 .meister-name h3 {
  margin-bottom: 10px;
}

#meistrid .meistrid-wrapper .meistrid-content .meister2 p {
  margin-top: 50px;
  margin-bottom: 30px;
}

#meistrid .meistrid-wrapper .meistrid-content .meister2 .meister-name {
  width: 100%;
  text-align: right;
}

#meistrid .meistrid-wrapper .meistrid-content .meister2 .meister-name h3 {
  margin-bottom: 10px;
}

#portfolio {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

#portfolio .portfolio-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 850px) {
  #portfolio .portfolio-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#portfolio .portfolio-wrapper .portfolio-left {
  width: 50%;
  padding-top: 4rem;
  padding-right: 10px;
}

@media screen and (max-width: 850px) {
  #portfolio .portfolio-wrapper .portfolio-left {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
  }
}

#portfolio .portfolio-wrapper .portfolio-left img {
  width: 100%;
}

#portfolio .portfolio-wrapper .portfolio-left img:nth-child(1) {
  margin-bottom: 20px;
}

#portfolio .portfolio-wrapper .portfolio-right {
  width: 50%;
  padding-top: 4rem;
  padding-left: 10px;
}

@media screen and (max-width: 850px) {
  #portfolio .portfolio-wrapper .portfolio-right {
    width: 100%;
    padding-left: 0px;
    display: none;
  }
}

#portfolio .portfolio-wrapper .portfolio-right img {
  width: 100%;
}

#portfolio .gallery-btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 500px) {
  #portfolio .gallery-btn-wrapper {
    padding-top: 60px;
  }
}

#portfolio .gallery-btn-wrapper .gallery-btn {
  width: 100%;
  max-width: 250px;
  text-align: center;
  padding: 15px 0px;
  border: 1px solid #2c5364;
  z-index: 1;
}

#portfolio .gallery-btn-wrapper .gallery-btn a {
  text-decoration: none;
  color: #2c5364;
  text-transform: uppercase;
  font-weight: 700;
}

#review {
  width: 100vw;
  height: 100%;
  background-color: #2c5364;
  position: relative;
}

#review .review-bg {
  width: 100vw;
  height: 100%;
  max-width: 1280px;
  margin: auto;
  background: transparent url(/assets/tagasiside-bg.svg) no-repeat;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-position: right 0px bottom 0px;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  #review .review-bg {
    opacity: 0.25;
    background-position-x: center;
  }
}

#review .treeline-white-reversed {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-png-white-reversed.svg) no-repeat;
  background-position: left -4px top 0px;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: 1;
}

#review .treeline {
  width: 100%;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-svg.svg) no-repeat;
  background-position: left -4px bottom 0px;
  position: absolute;
  bottom: -3px;
  z-index: 1;
}

#review .hero-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
  overflow: hidden;
  z-index: 0;
}

#review .review-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 2;
}

#review .review-wrapper .review-content {
  width: 60%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  #review .review-wrapper .review-content {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  #review .review-wrapper .review-content {
    width: 100%;
  }
}

#review .review-wrapper .review-content .review1 {
  margin-bottom: 60px;
}

#review .review-wrapper .review-content .review1 p {
  margin-top: 50px;
  margin-bottom: 30px;
}

#review .review-wrapper .review-content .review1 .review-name {
  width: 100%;
  text-align: right;
}

#review .review-wrapper .review-content .review1 .review-name h3 {
  margin-bottom: 10px;
}

#review .review-wrapper .review-content .review2 p {
  margin-top: 50px;
  margin-bottom: 30px;
}

#review .review-wrapper .review-content .review2 .review-name {
  width: 100%;
  text-align: right;
}

#review .review-wrapper .review-content .review2 .review-name h3 {
  margin-bottom: 10px;
}

#faq-section {
  width: 100vw;
  height: 100%;
  position: relative;
}

#faq-section .treeline-white {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-png-white.svg) no-repeat;
  background-position: left -4px bottom 0px;
  background-size: cover;
  position: absolute;
  bottom: -2px;
  z-index: 1;
}

#faq-section .faq-heading {
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  #faq-section .faq-heading {
    width: 100%;
    text-align: center;
  }
}

#faq-section .faq-wrapper {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1000px) {
  #faq-section .faq-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#faq-section .faq-wrapper .faq-left {
  width: 50%;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  #faq-section .faq-wrapper .faq-left {
    width: 70%;
    padding-right: 0px;
  }
}

@media screen and (max-width: 850px) {
  #faq-section .faq-wrapper .faq-left {
    width: 100%;
  }
}

#faq-section .faq-wrapper .faq-left .question-wrapper {
  width: 100%;
  height: auto;
  background-color: #2c5364;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  #faq-section .faq-wrapper .faq-left .question-wrapper {
    padding: 40px 20px;
  }
}

#faq-section .faq-wrapper .faq-left .question-wrapper h2 {
  margin-bottom: 40px;
}

#faq-section .faq-wrapper .faq-left .question-wrapper .answer {
  font-size: 1.3rem;
}

@media screen and (max-width: 450px) {
  #faq-section .faq-wrapper .faq-left .question-wrapper .answer {
    font-size: 1.05rem;
  }
}

#faq-section .faq-wrapper .faq-right {
  width: 50%;
  padding-left: 10px;
}

@media screen and (max-width: 1000px) {
  #faq-section .faq-wrapper .faq-right {
    width: 70%;
    padding-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  #faq-section .faq-wrapper .faq-right {
    width: 100%;
  }
}

#faq-section .faq-wrapper .faq-right .question-wrapper {
  width: 100%;
  height: auto;
  background-color: #2c5364;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  #faq-section .faq-wrapper .faq-right .question-wrapper {
    padding: 40px 20px;
  }
}

#faq-section .faq-wrapper .faq-right .question-wrapper h2 {
  margin-bottom: 40px;
}

#faq-section .faq-wrapper .faq-right .question-wrapper .answer {
  font-size: 1.3rem;
}

@media screen and (max-width: 450px) {
  #faq-section .faq-wrapper .faq-right .question-wrapper .answer {
    font-size: 1.05rem;
  }
}

#contact-us {
  width: 100vw;
  height: 100%;
  position: relative;
  background-color: #fff;
  padding-bottom: 150px;
}

@media screen and (max-width: 500px) {
  #contact-us {
    padding-top: 0px;
  }
}

#contact-us .dot-white {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: transparent url(/assets/dot-pattern-notsowhite.svg) no-repeat;
  background-size: cover;
  background-position-y: -50%;
  opacity: 0.5;
  z-index: 0;
}

@media screen and (max-width: 1050px) {
  #contact-us .dot-white {
    background-position-x: center;
    opacity: 0.4;
  }
}

#contact-us .treeline-green {
  width: 100vw;
  overflow: hidden;
  height: 100px;
  background: transparent url(/assets/treeline-green.svg) no-repeat;
  background-position: left -4px bottom 0px;
  background-size: cover;
  position: absolute;
  bottom: -3px;
  z-index: 1;
}

#contact-us .contact-us-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-top: 80px;
}

@media screen and (max-width: 1050px) {
  #contact-us .contact-us-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contact-us .contact-us-wrapper .contact-left {
  width: 50%;
  height: auto;
  padding-right: 20px;
  position: relative;
}

@media screen and (max-width: 1050px) {
  #contact-us .contact-us-wrapper .contact-left {
    padding-right: 0px;
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  #contact-us .contact-us-wrapper .contact-left {
    width: 100%;
  }
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper {
  background-color: #2c5364;
  width: 100%;
  height: auto;
  border-radius: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper .hero-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url(/assets/hero-wallpaper-grid.svg) repeat;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper .info-container {
  padding: 40px;
  z-index: 1;
}

@media screen and (max-width: 1050px) {
  #contact-us .contact-us-wrapper .contact-left .info-wrapper .info-container {
    width: 100%;
    text-align: center;
  }
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper .info-container h2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper .info-container .p-white {
  margin-bottom: 25px;
}

#contact-us .contact-us-wrapper .contact-left .info-wrapper .info-container .p-white a {
  text-decoration: none;
  color: #ebeff0;
  cursor: pointer;
}

#contact-us .contact-us-wrapper .contact-right {
  width: 100%;
  padding-left: 20px;
  width: 50%;
}

@media screen and (max-width: 1050px) {
  #contact-us .contact-us-wrapper .contact-right {
    padding-left: 0px;
    width: 80%;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 850px) {
  #contact-us .contact-us-wrapper .contact-right {
    width: 100%;
  }
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper {
  width: 100%;
  padding-top: 40px;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper h2 {
  margin-bottom: 40px;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form label {
  width: 100%;
  text-align: left;
  color: #2c5364;
  font-size: 1rem;
  margin: 20px 0px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.6;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form input {
  width: 100%;
  height: 50px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #ebeff0;
  border-radius: 15px;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form input[type="text"],
#contact-us .contact-us-wrapper .contact-right .contact-wrapper form input[type="email"],
#contact-us .contact-us-wrapper .contact-right .contact-wrapper form input[type="tel"] {
  padding-left: 20px;
  font-size: 1.3rem;
  font-family: "Montserrat";
  opacity: 0.8;
  color: #2c5364;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form textarea {
  outline: none;
  background-color: #ebeff0;
  border-radius: 15px;
  border: none;
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Montserrat";
  opacity: 0.8;
  color: #2c5364;
}

#contact-us .contact-us-wrapper .contact-right .contact-wrapper form button {
  width: 50%;
  background-color: #2c5364;
  z-index: 1;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ebeff0;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 40px;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

#footer {
  width: 100vw;
  height: 80px;
  position: relative;
  background-color: #2c5364;
}

@media screen and (max-width: 850px) {
  #footer {
    height: 100%;
  }
}

#footer .footer-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  #footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#footer .footer-wrapper .footer-logo {
  width: 33.33%;
}

@media screen and (max-width: 850px) {
  #footer .footer-wrapper .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

#footer .footer-wrapper .footer-logo img {
  width: 200px;
}

#footer .footer-wrapper .footer-links {
  width: 33.33%;
  text-align: center;
}

@media screen and (max-width: 850px) {
  #footer .footer-wrapper .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}

#footer .footer-wrapper .footer-links a {
  text-decoration: none;
  color: #ebeff0;
  font-family: "Montserrat";
  opacity: 0.7;
}

#footer .footer-wrapper .footer-socials {
  width: 33.33%;
  text-align: right;
}

@media screen and (max-width: 850px) {
  #footer .footer-wrapper .footer-socials {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

#footer .footer-wrapper .footer-socials a:nth-child(2) {
  margin-left: 20px;
}

#privacy-section {
  width: 100vw;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

#privacy-section h2 {
  margin-bottom: 50px;
  margin-top: 50px;
}

#privacy-section ul {
  width: 60%;
}

#privacy-section li {
  margin-top: 30px;
  font-size: 1rem;
  font-family: "Montserrat";
  letter-spacing: 0.05rem;
  line-height: 140%;
  color: #2c5364;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */